@import "compass";
@import "compass/layout.scss";
@import "normalize";
@import "mixins";

/* Système de grille composé de 12 colonnes */

/* max width 1430px */

$maxWidth : 1440px;

/* Goutière  10px */
$gutter : 2%;

/* Taille colonne 110px */
$colWidth : 6.333%;

@import "functions";

/*  Sticky footer  */
@include sticky-footer( 50px, "#container", "#layout_footer", "#footer" );

/* Titre masqué */

.hidden {
	position: absolute;
	left: -9999px;
}

/* Réglage générale */
	
	/* Body */

body {

	font: normal 15px Helvetica, Arial, Sans-Serif;
	line-height: 1.5;
}

fieldset {

	border: none;
	padding: 0;
}


/* Header */

#header div {

	@include generateGrid(12);

	@include clearBoth;

	padding: 0.25em 0;

	& nav {
	
		display: block;

		& a {

			padding: 0.55em 0;
			font-size: 1.1em;
		}
	}

	& a {

		display: block;
		float: left;			
	}
}

#logo {

	@include generateGrid(3);
	@include clearBoth;
	padding: 0;

	& img {

		@include generateGrid(12);
		margin: 0;
		vertical-align: top;
	}
}

#lang {

	@include generateGrid(3);
	float: left;

	& a {

		@include generateGrid(6);
		float: left;
	}
}

#account {

	@include generateGrid(6);
	float: right;

	& a{

		@include generateGrid(5);
		margin: 0;
	}

	& a:last-child {

		@include generateGrid(7);
	}
}

#ad_search {

	margin-bottom: $gutter/2; 

	h2 {

		margin: $gutter 0 $gutter/2 0;
	}
}

#container {

	display: block;
	@include generateGrid(12);
	margin: $gutter auto;
	padding-top: $gutter/2;
}

/*  Menu */

#main_menu {

	@include generateGrid(12);

	& form {
		
		width: 100%;
		margin-top: $gutter;

		& fieldset {

			margin: 0;
		}

		& label {

			display: none;
		}

		& input {

			@include generateGrid(8);
			margin-left: 0;
			@include box-sizing( border-box );
		}

		& input[type="submit"] {

			@include generateGrid(4);
			margin-right: 0;
		}
	}

	& nav {

		margin-top: $gutter*2;
	}

	& ul {

		padding: 0;
		margin: 0;
		@include clearBoth;

		& li {

			width: 47.5%;
			display: inline-block;
			float: left;
		
			@include box-sizing( border-box );			

			&:nth-child( odd ) {

				text-align: right;
				margin-right: $gutter;
			}
			
			&:nth-child( even ) {

				margin-left: 3%;
			}

		}
	}
}

/* Content */ 

#content {

	@include generateGrid(12);
}

#last_update, #proposal, #collection, #sold {

	margin-bottom: $gutter;

	& h2 {

		margin: 0 0 $gutter*2 0;
	}

	& article {
		
		width: 100%;
		margin: 0 0 $gutter*2 0;

		& figure {

			display: inline-block;
		} 

		.produits, figure {

			display: block;
		}

		& img {

			width: 100%;
			vertical-align: middle;
		}

		& .pannier {
			
			display: block;
			text-align: center;
		}

		& h3 {

			margin: 0 0 $gutter 0;
		}

		& p, & .pannier {

			margin: $gutter/2 0;
		}

		.prix {

			text-align: center;
			font-size: 1.3em;
			font-weight: bold;
		}

	}
	
}

#banner {

	display: none;
}

/* Footer */

#footer {
	
	& div {
	
		@include generateGrid(12);
		padding-top: 1em;

		& p {

			@include generateGrid(12);
			margin: 0 auto;
			text-align: center;
		}
	}

}

#container, #header div, #footer div {

	max-width: 480px;
	margin: 0 auto;
}

#article {

	h2 {

		@include generateGrid(12);
		margin: $gutter $gutter/2;
	}

	img {

		width: 100%;
		vertical-align: middle;
	}

	form {

		@include generateGrid(8);
		margin: 0 auto;

		label, select, input {

			@include generateGrid(6);
			display: inline-block;
			float: left;
			margin-bottom: $gutter;
			margin-top: $gutter;
			@include box-sizing( border-box );
			@include clearBoth;
		}

		select {

			text-align: center;
		}

		input[type="submit"] {

			@include generateGrid(12);
			float: none;
			margin-top: $gutter;
		}
	}

	fieldset {

		margin: 0;
	}

	#info {

		p:last-child {

			@include generateGrid(8);
			margin: 0 auto;
		}
	}	

	#prix {

		font-size: 1.2em; 
		font-weight: bold;
		margin-right: $gutter/2;
		font-style: normal;
	}

	#stock {

		color: green;
		font-size: 1.1em;
	}
}


@media only screen and ( min-width : 400px ) {

	#last_update, #proposal, #collection, #sold {

		& h2 {

			margin-bottom: $gutter*2;
		}
		
		& article {
			
			width: 100%;
			margin-bottom: $gutter*2;
			@include clearBoth;

			& .produits {

				@include generateGrid(5);
				margin-left: 0;
				float: left;


				& img {

					width: 100%;
					text-align: top;
				}
			}

			& h3, & p, & .pannier {

				@include generateGrid(7);				
				float: right;
				margin-bottom: $gutter/2;
			}

			& p, & .pannier {

				margin-top: $gutter/2;
			}

		}
	}

	#article {

		h2 {

			margin: $gutter/2 0;
		}

		a {

			@include generateGrid(5);
			margin-left: 0;
			margin-right: $gutter;
			@include clearBoth;
			float: left;
		}

		#info {

			@include generateGrid(7);
			@include clearBoth;
			margin: 0 0 $gutter/2 $gutter;
			float: left;
		}

		#description {

			margin: 0 0 $gutter/2 0;
		}

		form {
		
			@include clearBoth;
			width: 100%;
			float: right;
			margin: $gutter 0;
		}

	}

}

@media only screen and ( min-width: 480px) {

	#header div {

		nav {

			a {
				padding: 1.15em 0;
			}
		}
	}

	#article {
		
		@include clearBoth;

		form {

			label, select, input {

				@include generateGrid(2);
			}
		}
	}
}

@media only screen and ( min-width : 500px ) {

	#container, #header div, #footer div {

		max-width: 540px;
		margin: 0 auto;
	}


	#header div {
	
		nav a {

			padding: 1.35em 0;
		}
	}

	#account {

		a {
			text-align: left;
		}
	}

	#last_update, #proposal, #collection, #sold {

		margin-top: $gutter;

		& h2 {

			margin-bottom: $gutter/2;
		}		

		& article {

			@include generateGrid(6);
			margin-top: $gutter;
			margin-bottom: $gutter;

			float: left;

			& .produits {

				@include generateGrid(12);
			}

			& h3, & p, & .pannier {

				@include generateGrid(12);
				float: none;
			}

		}

		.left {

			margin-left: 0;
			margin-right: $gutter;
		}

		.right {

			margin-right: 0;
			margin-left: $gutter;
		}
	}	
}

@media only screen and ( min-width : 600px ) {

	#container, #header div, #footer div {

		max-width: 700px;
		margin: 0 auto;
	}

	#container {

		padding-top: 0;
	}

	#logo {

		@include generateGrid(2);
	}

	#lang {

		@include generateGrid(2);
		text-align: center;
	}

	#account {

		@include generateGrid(4);
		float: right;
		text-align: right;
		margin-right: 0;

		& a{

			@include generateGrid(5);
			margin: 0;
		}

		& a:last-child {

			@include generateGrid(7);
			margin-right: 0;
		}
	}

	#article {

		#info p:last-child {

			@include generateGrid(4);
			margin: $gutter/2 auto 0 auto;
		}

		form {

			@include generateGrid(7);
			float: left;
			margin: $gutter 0 0 $gutter;
		}
	}
}

@media only screen and ( min-width : 760px ) {

	#container, #header div, #footer div {

		max-width: 900px;
		margin: 0 auto;
	}

	#banner {

		display: block;
		width: 100%;

		img {
			
			width: 100%;
		}
	}

	#header div {

		padding: $gutter 0;

		& nav {

			& a {

				padding: 1.2em 0;
			}
		}
	}

	#account {

		@include generateGrid(3);
	}


	#main_menu {

		@include generateGrid(3);
		@include clearBoth;
		float: left;

		& form {

			& input, & input[type="submit"] {

				width: 100%;
				margin: 0 0 $gutter 0;
			}
		}

		& #menu {

			& li {
				
				width: 100%;
				float: none;
				text-align: left;
				margin: $gutter 0;
			}
		}

		#ad_search {

			li {

				width: 100%;
				text-align: left;
				margin: $gutter 0;
			}
		}
	}

	#content {
	
		@include generateGrid(9);
		margin-right: 0;
		@include clearBoth;
		float: left;
	}

	#last_update, #proposal, #collection, #sold {

		margin-top: 0;

		article {

			@include generateGrid(6);
			margin-bottom: $gutter*2;

			& .pannier, & p, & h3, & .produits {

				width: 100%;
				margin: 0;
				float: none;
			}

			& h3 {

				margin-top: $gutter;
			}
		}
	}

	#article {

		#info p:last-child {

			@include generateGrid(6);
			margin: $gutter auto 0 auto;
		}
	}
}

@media only screen and ( min-width : 960px ) {

	#container, #header div, #footer div {

		max-width: 1200px;
		margin: 0 auto;
	}

	#header div {

		padding: $gutter/2 0;
	}

	#logo {

		figure {

			@include generateGrid(9);
		}
	}
	
	#lang {

		@include generateGrid(1);
	}

	#account {

		@include generateGrid(2);
		
		& a {

			@include generateGrid(4);
			text-align: right;
		}

		& a:last-child {

			@include generateGrid(8);
		}

	}

	#main_menu {

		#menu li {

			font-size: 1.15em;
		}

		form {

			& input {

				@include generateGrid(7);
				float: left;
				margin: 0 $gutter 0 0;
			}	

			& input[type="submit"] {

				@include generateGrid(5);
				float: left;
				margin: 0 0 0 $gutter 0 0;
			}
		}
	}

	#last_update, #proposal, #collection, #sold {

		@include clearBoth;

		& h2 {

			margin-bottom: $gutter;
		}

		article {

			@include generateGrid(4);
		}

		& .left, & .right {

			margin: 0 0 $gutter 0;
		}

		& .num_2 {
			margin: 0 $gutter*1.5 $gutter $gutter*1.5;
		}
	}

	#article {

		margin-bottom: $gutter/2;

		#info p:last-child {

			@include generateGrid(4);
			margin: $gutter auto 0 auto;
		}
	}
}

@media only screen and ( min-width: 1200px ) {

	#article {

		a {

			@include generateGrid(4);
			margin: 0 $gutter 0 0;
		}

		#info {

			@include generateGrid(6);

			p:last-child {

				@include generateGrid(4);
				margin: 0 auto;
			}
		}

		form {

			@include generateGrid(2);

			label, select, input {

				@include generateGrid(6);
			}

			label {
				margin: 0 $gutter $gutter*2 0;
			}

			select, input {
				margin: 0 0 $gutter*2 $gutter;
			}
		}
	}
}

@media only screen and ( min-width : 1300px ) {

	#container, #header div, #footer div {

		max-width: 1200px;
		margin: 0 auto;
	}

	#header div {

		& nav {

			a {

				padding: 0.7em 0;
			}
		}
	}

	#logo {

		@include generateGrid(1);

		& figure {

			@include generateGrid(12);

			& img {

				@include generateGrid(12);
			}
		} 
	}
}

@media only screen and ( min-width : 1440px ) {

	#account {
		
		@include generateGrid(2);
	}

	#last_update, #proposal, #collection, #sold {

		article {

			@include generateGrid(3);
		}

		h2 {

			margin: $gutter/2 0;
		}

		& .num_2 {

			margin: 0  ($gutter - ( $gutter/4 )) $gutter/2 ($gutter + ( $gutter/4 ) );
		}

		& .num_3 {

			margin: 0  ($gutter + ( $gutter/4 )) $gutter/2 ($gutter - ( $gutter/4) );
		}
	}
}

@media only screen and ( min-width : 1600px ) {



	#container, #header div, #footer div {

		max-width: 1440px;
		margin: 0 auto;
	}

	#header div {

		nav {

			a {

				padding: 1em 0;
			}
		}
	}

	#main_menu {

		form {

			input {

				@include generateGrid(8);
				margin: 0 $gutter 0 0;
			}

			input[type="submit"] {

				@include generateGrid(4);

				margin: 0 0 0 $gutter;
			}
		}
	}

	#account {

		a, a:last-child {
			@include generateGrid(6);
		}
	}

	#last_update, #proposal, #collection, #sold {

		article {

			h3, .pannier, p, .produits {

				margin: $gutter 0;
			}
		}
	}

}

@media only screen and ( min-width: 1920px ) {

	#header div {

		nav {

			a {

				padding: 1.35em 0;
			}
		}
	}

	#container, #header div, #footer div {

		max-width: 1600px;
		margin: 0 auto;
	}
	
}

@media only screen and ( min-width: 2000px ) {

	#container, #header div, #footer div {

		max-width: 1920px;
		margin: 0 auto;
	}
}